/* font-family: 'Bodoni Moda', serif; */

body {
    background-color: #dddddd;
    font-family: 'Source Sans Pro', sans-serif;  
    margin: 0;
     
}

header {
    background-color: #55b3b1;
    width: 100%;
    display: flex;    
    height: 80px;
    justify-content: space-between;
    align-items: center;   
    /* position: fixed;  */
    bottom:auto;
    
}

.menu {
    height: inherit;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgb(252, 252, 252);
    
}
ul {
    list-style: none; 
    margin: 0;   
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Bodoni Moda', serif;
    width: 100%;
    
}

.link{
    color: white;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    height: inherit;
    align-items: center;  
}



.main {
    color:rgb(3, 12, 41);   
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #55b3b1;
    height: 500px;
    
      
    
}

.main-container h1 {
    font-family: 'Bodoni Moda', serif;
    font-size: 80px;    
    letter-spacing: 2px;
    text-transform: none;
    margin: 0px;
    color: #cc561e;
    width: 100%;    
    line-height: 100px;
    margin-top: 10px;
    padding-top: 30px;
    font-weight: 800;
    
}

.main-text{
    font-size: 50px;
    margin: 0;
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    color: #cc561e;
}

.main-container figure{
    margin:20px;
}

.main figure {
    display: flex;
    justify-content: center;
}

.main figure img{
    width: 150px;
    height: auto;    
}


.about-container{
    margin-left: 20px;
    
}

.about-title {        
    width: 100%;
    border-radius: 10px; 
    margin-top: 80px;   
    
}

.about-title h1{
    font-size: 50px;
    font-family: 'Bodoni Moda', serif;   
    text-align: center;
    color: #cc561e;
    margin: 25px 25px 0 25px;
}

.about-name {
    display: flex;
    justify-content: center;
    width: 100%;
}

.about-name figure img {
    border-radius: 50%;
    height: 200px;
    
    
}

.name-description {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    
}

.button-description {
    text-align: right;     
    font-size: 20px;   
    
}

.button {
    border-radius: 10px 10px; 
    box-shadow: 0px 0px 5px black;
    padding: 5px;   
    margin: 0px 20px;    
    background-color: #cc561e;
    width: 100px;
    color: white;
    text-decoration: none;
    font-family: 'Bodoni Moda', serif;
}



.name-description h2 {
    padding: 0; 
    font-size: 2rem;

}

.country-description {
    display: flex;
    align-items: center;   
    
}

.country-title{
    margin: 0;  
    font-family: 'Bodoni Moda', serif;  
}



.country-description img {
    height: 18px;
    margin: 0 0 0 10px;
}

.about-description{
    margin: 0 200px;

}


.about-description p {    
    font-size: 20px;
    text-align: justify;
    font-family: 'Bodoni Moda', serif;
    display: flex;
    justify-content: center;
    margin: 0 20px;

} 

.redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 100px;
    padding: 20px 40px;
        
}

.studies h2 {
    font-size: 50px;
    font-family: 'Bodoni Moda', serif;   
    text-align: center;
    color: #cc561e;
    margin: 30px 50px;
   
}

.study-text {
    margin: 0 150px;    
    font-size: 20px;
    text-align: justify; 
    border-radius: 10px 10px; 
    box-shadow: 0px 0px 5px black;
    font-family: 'Bodoni Moda', serif;
    display: flex;
    justify-content: center;
   
       
}

.container-studies {
    display:flex;
    justify-content: space-around;  
    margin-top: 30px;  
    
    
}

.container-studies-text {
    display:flex;
    justify-content: space-around;
    font-family: 'Bodoni Moda', serif;
    font-size:20px;
    align-items: center;
    
}
.hability {
    margin: 0 0 60px 0;
    padding: 0 0 60px 0;
}

.hability h2 {
    font-size: 50px;
    font-family: 'Bodoni Moda', serif; 
    text-align: center;
    color: #cc561e;
    margin: 30px 70px;
    font-weight: 800;
   
    
}

.hability-text {    
    padding: 20px;
    margin: 0 150px;
    font-size: 20px;
    text-align: justify;    
    border-radius: 10px 10px; 
    box-shadow: 0px 0px 5px black;
    align-items: center;
    font-family: 'Bodoni Moda', serif;
    
    
}

.container-hability {
    display:flex;
    justify-content: space-around;
    margin-top: 30px;  
}

.container-hability-text {
    display:flex;
    justify-content: space-around;
    font-family: 'Bodoni Moda', serif;
    font-size: 20px;
    align-items: center;
}

.projects {
    padding: 0px 25px 20px 25px;
    margin: 10px;
    
}

.projects h2 {    
    font-size: 50px;
    font-family: 'Bodoni Moda', serif;   
    text-align: center ;
    color: #cc561e;
    margin: 30px 50px;
} 

.text-portafolio{
    padding: 20px;
    margin: 0 100px 50px 100px;
    font-size: 20px;
    text-align: justify;    
    border-radius: 10px 10px; 
    box-shadow: 0px 0px 5px black;
    align-items: center;
    font-family: 'Bodoni Moda', serif;
    
   
}

.project {    
    border: 3px solid rgb(150, 150, 170);
    border-radius: 10px 10px; 
    box-shadow: 0px 0px 5px black;
    padding: 20px;    
    margin-bottom: 40px;
    margin: 0px 70px 0 150px;    
    background-color: #fce7d1;
    width: 70%;
}
.project-date {
    font-family: 'Fjalla One', sans-serif; 
    font-size: 15px;  
    margin: 10px 0 20px 30px; 
    padding: 0;
}

.project-language{
    margin-top: 15px;
}


.project-text {    
    margin: 0px 80px 30px 80px;
    padding: 20px;
    font-size: 1.3rem;
    text-align: justify;    
    border-radius: 10px 10px; 
    box-shadow: 0px 0px 5px black;
    align-items: center;
    text-transform: none;
    font-family: 'Fjalla One', sans-serif;
}


.portafolio-container1{       
    width: 100%;  
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.figure1 {
    width: 50%;
    margin:0;
    display: flex;
    justify-content: center;
}

.figure1 img{
    width: 300px;
    height: auto;
    border-radius: 50px;
    margin:0;
    align-items: center;
}

.figure2 {
    width: 50%;
    margin:0;
    display: flex;
    justify-content: center;
}

.figure2 img {
    width: 300px;
    height: auto;
    border-radius: 100px;
    margin:0;
    align-items: center;
}

.portafolio-container2{    
    width: 100%;  
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
}

.figure3 {
    width: 50%;
    margin:0;
    display: flex;
    justify-content: center;
}

.figure3 img{
    width: 300px;
    height: 350px;
    border-radius: 50px;
    margin:0;
    align-items: center;
}

.figure4 {
    width: 50%;
    margin:0;
    display: flex;
    justify-content: center;
}

.figure4 img{
    width: 300px;
    height: 350px;
    border-radius: 50px;
    margin:0;
    align-items: center;
}
.portafolio-container3{
    width: 100%;  
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
}

.figure5 {
    width: 50%;
    margin:0;
    display: flex;
    justify-content: center;
}

.figure5 img{
    width: 300px;
    height: 350px;
    border-radius: 50px;
    margin:0;
    align-items: center;
}

.figure6 {
    width: 50%;
    margin:0;
    display: flex;
    justify-content: center;
}

.figure6 img{
    width: 300px;
    height: 350px;
    border-radius: 50px;
    margin:0;
    align-items: center;
}

.experience h2 {
    font-size: 50px;
    font-family: 'Bodoni Moda', serif;   
    text-align: center ;
    color: #cc561e;
    margin: 30px 50px;
}

.experience-title{
    margin: 10px 0 20px 0;
    padding: 0;
    text-align: left;
}

.experiences {
    padding: 30px;
    margin: 0 100PX;
    font-size: 20px;
    text-align: justify;    
    border-radius: 10px 10px; 
    box-shadow: 0px 0px 5px black;
    align-items: center;
    font-family: 'Bodoni Moda', serif;
    
    
    
}

.experience-image {
    border: 2px solid rgb(172, 172, 230);
    border-radius: 10px;
    width: 200px;
    height: 70%;
    margin-top: 20%;
   
}

.experience-description {
    text-align: justify;    
    font-size: 20px;  
    margin: 10px 0 20px 30px; 
    padding: 0;
}


.contact h2 {
    font-size: 50px;
    font-family: 'Bodoni Moda', serif;   
    text-align: center ;
    color: #cc561e;
    margin: 30px 50px;

}

.contact-formulary {      
    display: flex;   
    justify-content: center;    
       
}


.contact-formulary p{
    background-color: #55b3b1;
    padding: 12px 20px;
    border: 2px solid rgb(172, 172, 230);    
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); 
    width: 35%; 
    height: 30px;
    color: white;
    font-family: 'Bodoni Moda', serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    
}

.envio-email {
    background-color: #55b3b1;
    padding: 12px 20px;
    border: 2px solid rgb(172, 172, 230);
    border-radius: 0px 15px 20px 0px;;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); 
    width: 35%; 
    height: 30px;
    color: white;
    font-family: 'Bodoni Moda', serif;
    font-size:20px;    
    text-align: center;
    margin: 20px 0 0 0;
}

.envio-email a img {
    margin: 0px 0 0 15px;
    border-radius: 5px;
 
}

.footer {
    background-color: #1f6665;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: white;      
    font-family: 'Bodoni Moda', serif;
    font-size: 15px;  
    height: 30px;
}  

.footer-detail {
    display:flex;
    justify-content: space-between;
    font-size: 1em;
        
}

.footer img {
    height: 30px;
    margin: 10px;
}

/* ************MEDIA QUERIES******************************* */
/* ****************************1024*************************** */
@media screen and (max-width:1024px){
    .main-container h1{
        margin: 0;
    }

    .main-container figure{
        padding: 20px 0;
        margin:0;
    }

    .about-title h1{
       text-align: center;
    }

    .about-description p{
        margin-bottom: 20px;
    }
}

/* ****************************767*************************** */
@media screen and (max-width:767px){

}

/* ****************************480*************************** */
@media screen and (max-width:480px){

}

/* ****************************320*************************** */

@media screen and (max-width:320px){

}
